<div class="header">
    <h1>Blog de Ciberseguridad</h1>
  <img src="https://www.lifewire.com/thmb/DLiIvQLx9Z-YuqEa5jZo8augGyI=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/hacker-with-laptop-922359280-5c32d4a546e0fb00011bb991.jpg">
</div>

  <div class="content">
    <div>
      <img src="{{ articulos[0].imagen }}" alt="Imagen del artículo 1">
      <h2>{{ articulos[0].titulo }}</h2>
      <p>{{ articulos[0].texto }}</p>
    </div>
  
    <div>
      <img src="{{ articulos[1].imagen }}" alt="Imagen del artículo 2">
      <h2>{{ articulos[1].titulo }}</h2>
      <p>{{ articulos[1].texto }}</p>
    </div>
  
    <div>
      <img src="{{ articulos[2].imagen }}" alt="Imagen del artículo 3">
      <h2>{{ articulos[2].titulo }}</h2>
      <p>{{ articulos[2].texto }}</p>
    </div>
  
  </div>
  